.container-cards {
  display: flex;
  flex-wrap: wrap;
  .card_champ {
    position: relative;
    margin: 10px 1.09rem;
    transition: all 0.3s;
    cursor: pointer;
    max-width: 154px;
    border-radius: 8px;
    overflow: hidden;
    @media screen and (max-width: 1440px) {
      max-width: 166px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 143px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 130px;
    }
    @media screen and (max-width: 601px) {
      max-width: 155px;
    }
    @media screen and (max-width: 360px) {
      max-width: 130px;
    }
    &__image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      transition: all 0.7s;
      transform: scale(1.2);
    }
    &__info {
      transition: all 0.9s;
      display: none;
      justify-content: center;
      &-name {
        position: absolute;
        text-align: center;
        font-size: 1.3rem;
        color: #fff !important;
        font-weight: bold;
        top: 10%;
      }
      &-title {
        position: absolute;
        bottom: 40%;
        font-size: 1rem;
        color: #fff !important;
        text-align: center;
        margin: 0px 10px;
        bottom: 46%;
      }
    }
    &:hover {
      .card_champ__info {
        display: flex;
      }
      .card_champ__image {
        transform: scale(1);
        filter: brightness(0.5);
      }
    }
  }
}
