@import "./Vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $theme-background-color !important;
    font-size: 17px;
}

p, h1, h2, h3, h4, h5, h6{
    color: $theme-font-color !important;
}

::-webkit-scrollbar {
    width: 0px;
}
