@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$theme-font-color: #FAB565;
$theme-font-color-secondary: #F2ECFF;
$theme-background-color: #503D4D;
$theme-header-color: #1F1F1F;
